
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing:border-box;
}
:root{
  --bg: #151544;
  --text: white;
  --sc:#ea4831;
  --darker-bg:#101035
}
.row{
  display: flex;
    align-items: center;

}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column ;
  justify-content: space-evenly;
  align-items: center;
  font-size: 16px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color:var(--bg) ;
  color: var(--text);
  padding: 0 1em;
}


.title{
  font-size: 1.5rem;
}

/*Navlist*/
.mode-lst{
  display: block;
  list-style: none;
  background-color: var(--darker-bg);
  width: fit-content;
  height: max-content;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
}
.mode-item{
  display: inline-block;
  padding: 0.8em 1em;
  text-align: center;
  border-radius: 25px;
    font-weight: lighter;
  cursor: pointer;
}
.mode-item.active{
  background-color: var(--sc);
  font-weight: 500;

}
.mode-item.active:hover{
  filter:hue-rotate(-10deg);
}
.mode-item:nth-child(2){
  margin:0 0.5em;
}
main{
  width: min-content;

}


.timer {
  background-color:var(--darker-bg);
  width: 250px;
  height: 250px;
  border-radius: 100%;
  border:-10px solid #ffffff00; 
  position: relative;   
  display: grid;
  place-items: center;
  
}

.timer::before{
  content: '';
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
    z-index: -1;
   border-radius: 100%;

  margin: -10px;
    background: linear-gradient(135deg,var(--darker-bg) 20%,rgba(255,255,255,0.35));
}

.loader svg circle {
  margin:5px auto;            
fill: none;            
stroke: var(--darker-bg);            
stroke-width: 10px;            
transform: translate(5px, 5px);     
position: absolute;
z-index: +10;
}

.loader svg circle:nth-child(2){        
stroke: var(--sc);        
stroke-dasharray: calc(0/100*754),754;   
stroke-linecap:round;
}

.timer .content {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
   display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.time{
  font-size: 3.5rem;
  
  font-weight: bolder;
}
.pause-btn{
  position: absolute;
  outline: none;
  border: none;
  background: none;
  color: var(--text);
  margin-top: 130px;
  font-family:cursive;
  letter-spacing: 0.5em;
  cursor: pointer;
  text-align:center;
    border-radius:120px ;
      padding: 0.5em;


}
.pause-btn:hover{
  color:#ddd;
  
}


.icon{
  font-weight: bold;
  font-size: 2rem;
  cursor: pointer;
}


/*====MODAL====*/
.modal{
  width:60%;
  min-height: 50px;
  background-color: white;
  position: fixed;
  color: black;
  border-radius:50px;
  padding: 1em 2em;
  display: none;


}
.modal-header{
  justify-content: space-between;
  border-bottom:1px solid #eee ;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
}

.pickers{
  margin-top: 0.7em;
  justify-content: space-evenly;
  border-bottom:1px solid #eee ;
  padding-bottom: 1em;
  margin-bottom: .5em;
}
.picker label{
  display: block;
  font-size: 14px;
  font-weight: bolder;
  color:#777;
  margin-bottom: 0.5em;
}

.picker input {
  width: 8.5em;
  
  padding: 1em 0 1em 1em;
  border-radius: 0.75em;
  border: none;
  outline: none;
  background: #eaeaef;
  font-size: 16px;

}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  

   opacity: 1;
    height: 2em;
   padding:  0.5em 0.75em;
  background: #dadaee;

}
.color-select{
  justify-content: space-between;
  align-items: center;
   border-bottom:1px solid #eee ;
  padding-bottom: 1em;
  margin-bottom: 1.5em;
}
.circle{
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin: 0.5em ;
  position: relative;

  cursor: pointer;
}
.orange{
  background-color: #ea4831;
}
.teal{
background-color: #157A6E;
}
.blue{
  background-color: #3F88C5
}
.active-color::before{
  content:"";
  position: absolute;
    top: 25; right: 0; bottom: 0; left: 25;
  z-index: 1;
  width: 15px;
  height: 15px;
  border-radius: 10px;
  transform: translate(-17.5px,-17.5px);
  background-color: white;
  text-align: center; 
}
.apply{
  height: 3em;
  width: 8em;
  font-size: 16px;
  border-radius: 2em;
  border: none;
  background-color: var(--sc);
  color: white;
  font-weight: bolder;
  margin: auto;
  margin-bottom: -2.5em;
  cursor: pointer;
}
.btn-div{
  display: flex;
  width: 100%;
}

@media screen and (max-width:756px){

  .picker input{
    width: 6em;
  }

}


@media screen and (max-width:600px){

  .picker input{
    width: 5em;
  }
  .modal{
    width: 90%;
  }
}

@media screen and (max-width:400px){
  body{
    font-size: 14px;
  }
  .pickers{
    flex-direction: column;
  }
  .color-select{
        flex-direction: column;
  }
  .settings-time{
    display: flex;
    align-items: center;
        flex-direction: column;

  }
   .picker input{
    width: 12em;
  }
  
}

